.footer {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #ebebeb;
  width: 100%;
  padding-inline: 40px;
  box-sizing: border-box;
}

.footer-text {
  font-size: 1.4rem;
  color: rgb(0, 0, 0);
  font-weight: 500;
  width: 100%;
  text-align: left;
}
